
:root {
  --animate-duration: 800ms;
  --animate-delay: 0s;
}
.square {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-color: black;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 618px;
  height: 618px;
}

.porn{
	  background: url('porn.jpg');
      background-size: cover;
}
.illegal{
    background: url(illegal.jpg);
    background-size: cover;
}
.mole{
    background:url(mole.jpg);
    background-size: cover;
}
.btc{
    background-image: url('btc.jpg');
    background-size: cover;
}
.spotify{
    background-image: url('spotify.jpg');
    background-size: cover;
}
.virus{
    background-image: url('virus.jpg');
    background-size: cover;
}
.facebook{
    background-image: url('facebook.jpg');
    background-size: cover;

}
.youtube{
    background-image: url('youtube.jpg');
    background-size: cover;

}